:root {
  --color-font-main: #a8b9c0;
  --color-button-main: #ff3150;
  --color-button-text: #ffc501;
  --color-backround-three: #eff7fa;
  --color-section-title: #1a2940;
}

body, h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-font-main);
}

p {
  color: var(--color-font-main);
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-main {
  background-color: var(--color-button-main);
  color: var(--color-button-text);
  box-shadow: none;
  border: none;
  padding: 15px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.button-main:hover {
  background-color: var(--color-button-text);
  color: var(--color-button-main);
}

.header {
  background-color: #19283f;
  padding: 20px 0 0 0;
  min-height: 500px;
}

.header-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-logo {
  margin-bottom: 20px;
}

.header-navigation-items {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation-item {
  margin-right: 40px;
}

.header-navigation-link {
  transition: color 0.3s;
}

.header-navigation-link:hover {
  color: #00c7c0;
}

.header-navigation-item:last-child {
  margin-right: 0;
}

.header-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 440px;
  justify-content: center;
}

.header-banner-title {
  color: #f0f8fb;
  margin-bottom: 8px;
  font-size: 5.1rem;
}

.header-banner-description {
  margin-bottom: 24px;
}

.third-section {
  background: var(--color-backround-three);
  padding: 20px 0 0 0;
  min-height: 500px;
}

.third-section-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-image {
  margin: 35px 0 35px 0 ;
}

.third-section-title {
  margin-bottom: 8px;
  font-size: 3.1rem;
  color: var(--color-section-title);
}

.third-section-description {
  margin-bottom: 20px;
}

.third-section-links {
  align-items: center;
  margin: 65px 0 60px 0;
}

.third-section-navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.third-section-button{
  box-shadow: none;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--color-backround-three);
  color: var(--color-font-main);
}

.third-section-button:hover {
  background-color: var(--color-button-main);
  color: var(--color-button-text);
}

.third-section-item {
  margin-right: 10px;
}

.third-section-item:last-child {
  margin-right: 0;
}

.squares-container {
  display: flex;
  flex-flow: wrap;
}

.square {
  width: 270px;
  height: 200px;
  background-color: white;
  margin: 5px 10px 10px 10px;
  justify-content: center;
  flex-direction: center;
  min-width: 270px;
}

.square:first-child {
  background-color: #00c6bf;
  opacity: 0.8;
}

.third-button {
  display: flex;
  justify-content: center;
  margin: 55px 0 50px 0;
}

@media screen and (min-width: 768px) {
  .header-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .header-logo {
    margin-bottom: 0;
  }

}